
* {
  font-family: arial, sans-serif;
  margin: 5px;
}

body,
body > div {
  /* height: 100vh;
  width: 100vw; */

}
/* 
#container {
  display: grid;

  color: black;
}

#container > div {
  display: grid;
  color: black;
} */

#navbar {
  padding: 2em;
  justify-content: space-evenly;
  font-size: xx-large;
  border: 3px solid black;
  color:gold;
  background-color: rgb(63, 84, 137);
}


/* Target the Link components inside the #navbar element and set the font color to red */
#navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none; /* To remove the default underline on links */
}

/* Apply a hover effect if desired */
#navbar a:hover {
  color: rgb(0, 0, 0);
}





#main-section {
  /* flex-grow: 1; */

}

#main-section > div {
  /* display: flex;
  align-items: center; */
  /* justify-content: center; */
}


.buttons {
  background-color: aqua;
  color:brown;
  border: 3px solid black;
  padding: 10px;
  font-size: large;
  text-decoration: none;

}

.buttons:hover {
  background-color: #381465;
  cursor:pointer;
}

.details:hover {
  background-color: #381465;
  
}

.details {
  background-color: aqua;
  color:brown;
  border: 2px solid black;
  padding: 10px;
  font-size: large;
  text-decoration: none;
  cursor:pointer;
}

.homebuttons {
  display: inline-grid;
  background-color: aqua;
  color:brown;
  border: 3px solid black;
  padding: 10px;
  font-size: xx-large;
  text-decoration: none;

}

.homebuttons:hover {
  background-color: #381465;
}

.images {
display: grid;
height: 340px;
background-color: blueviolet;
align-items: center;
padding: 0px;
border: 2px solid black;
}

.name {
  display: grid;
  border: 3px solid black;
  /* grid-template-rows: 3; */
  background-color: aqua;
  border-radius: 15px;
}

.allplayers {
  display: inline-grid;
  border: 5px solid black;
  border-radius: 15px;
  background: #73AD21;
  /* padding: 20px;
  padding: 10px; */
  /* grid-gap: 50px; */
    /* grid-template-columns: repeat(4); */
  /* column-gap: 30px;
  row-gap: 10px;
  grid-gap: 10px 20px; */
  /* justify-items: center; */
  /* justify-content: space-evenly; */
  
}

.back-button {
  background-color: aqua;
  color:brown;
  border: 2px solid black;
  padding: 10px;
  font-size: large;
  text-decoration: none;
  cursor:pointer;
  align-self: flex-start;
}


.playerdet {

  font-size: x-large;
  border: 5px solid black;
  border-radius: 15px;
  background: #73AD21;
padding: 40px;
align-items: center;
background-color: dodgerblue;
  color: white;

}

.welcome {
  font-size: xx-large;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

body {
  background: #6868AC;
}

.welcome {
  font-family: 'Calligraffitti', cursive;
  font-weight: 200;
  font-size: 5rem;

/*  
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 0.02em;
  text-align: center;
  color: #F9f1cc;
  text-shadow: 5px 5px 0px #FFB650, 
    10px 10px 0px #FFD662, 
    15px 15px 0px  #FF80BF, 
    20px 20px 0px #EF5097, 
    25px 25px 0px #6868AC,  */

}