
* {
  font-family: arial, sans-serif;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: black;
}

#container > div {
  display: flex;
  color: black;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
  font-size: xx-large;
  border: 3px solid black;
  color:gold;
  background-color: aqua;
}

/* Target the Link components inside the #navbar element and set the font color to red */
#navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none; /* To remove the default underline on links */
}

/* Apply a hover effect if desired */
#navbar a:hover {
  color: rgb(0, 0, 0);
}

a:hover :nth-child(2) {
  background-color: red;
}

/* index.css */

/* Target the #navbar element */
#navbar {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  padding: 10px;
}

/* Target the Link components inside the #navbar element */
#navbar a {
  text-decoration: none; /* To remove the default underline on links */
  padding: 5px; /* Adding padding to make the links look nicer */
}

/* Apply a different hover color for the red link */
#navbar .red-link:hover {
  color: darkred;
}

/* Apply a different hover color for the blue link */
#navbar .blue-link:hover {
  color: darkblue;
}

/* Apply a different hover color for the yellow link */
#navbar .yellow-link:hover {
  color: goldenrod;
}



#main-section {
  flex-grow: 1;

}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

